<%= form_with model: @powder, url: {controller: 'powders', action: 'update'}, local:true, method: :patch do |f| %>
  <%= render "/layouts/refactoring/new_and_edit_table/powder", f: f%>
<% end %>
<div class="float-end">
  <%= button_to "削除", "/okonomiyakidb/powders/#{@powder.id}", data: { confirm: "削除してもよろしいですか?" }, method: :delete, class:"btn btn-danger mt-1" %>
</div>
