<h2 class="mb-4">その他材料登録</h2>
<div class="form">
  <table class="table">
    <%= form_with model: @other_technique, url: {controller: 'other_techniques', action: 'update'},local:true, id: 'other_technique', method: :patch do |f| %>
      <tbody>
        <%= render "/layouts/common_technique_form", f: f %>
    <% end %>
  </table>
  <div class="float-end">
    <button class="btn btn-primary" type="submit" form="other_technique">登録</button>
    <%= button_to "削除", "/okonomiyakidb/other_techniques/#{@other_technique.id}", data: { confirm: "削除してもよろしいですか?" }, method: :delete, class:"btn btn-danger mt-1" %>
  </div>
</div>

