<%= form_with model: @other_technique, url: {controller: 'other_techniques', action: 'update'}, local:true, method: :patch do |f| %>
  <%= render "/layouts/refactoring/new_and_edit_table/other_technique", f: f%>
<% end %>
<div class="float-end">
  <%= button_to "削除", "/okonomiyakidb/other_techniques/#{@other_technique.id}", data: { confirm: "削除してもよろしいですか?" }, method: :delete, class:"btn btn-danger mt-1" %>
</div>
