version: 2.1
orbs:
  ruby-orbs: sue445/ruby-orbs@1.6.2
  heroku: circleci/heroku@1.0.1

workflows:
  version: 2.1
  build:
    jobs:
      - rspec
      - rubocop
      - heroku_deploy:
          requires:
            - rspec
            - rubocop

executors:
  default:
    working_directory: ~/okonomiyakidb
    docker:
      - image: cimg/ruby:3.0.2-node
        environment:
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test
          BUNDLER_VERSION: 2.2.22

jobs:
  build:
    executor: default
    steps:
      - checkout
      - bundle-install
  rubocop:
    executor: default
    steps:
      - preparate
      - run:
          name: Rubocop
          command: bundle exec rubocop --require rubocop-airbnb
  rspec:
    executor: default
    steps:
      - preparate
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: install docker-compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.25.4/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - run:
          name: docker-compose upã€€
          command: |
            set -x
            docker-compose -f docker-compose.circleci.yml up -d
            sleep 30
            docker-compose exec web bash -c "bundle exec rails db:create"
            docker-compose exec web bash -c "bundle exec rails db:schema:load"
            docker-compose exec web bash -c "bundle exec rspec"
  heroku_deploy:
    executor: heroku/default
    parameters:
      app-name: 
        default: $HEROKU_APP_NAME
        type: string
      post-deploy:
        default:
          - run:
              command: heroku run rails db:migrate --app $HEROKU_APP_NAME
        type: steps
    steps:
      - checkout
      - heroku/install
      - heroku/deploy-via-git:
          app-name: << parameters.app-name >>
      - steps: << parameters.post-deploy >>

commands:
  bundle-install:
    steps:
      - run:
          name: bundler install
          command: |
            gem update --system
            gem install bundler -v 2.2.22
      - ruby-orbs/bundle-install:
          bundle_clean: true
          bundle_extra_args: ''
          bundle_gemfile: Gemfile
          bundle_jobs: 4
          bundle_path: vendor/bundle
          bundle_retry: 3
          cache_key_prefix: v1-bundle-dependencies-{{ checksum "Gemfile.lock" }}
          restore_bundled_with: true
  preparate:
    steps:
      - checkout
      - bundle-install