<h1>Tops#index</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">

//タブメニューボタン
 <li class="nav-item">
 <a class="nav-link active" id="menu1-tab" data-toggle="tab" role="tab" aria-controls="menu01" aria-expanded="true" href="#menu01">アクティブ</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" id="menu02-tab" data-toggle="tab" role="tab" aria-controls="menu02" aria-expanded="true" href="#menu02">メニュー2</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" id="menu03-tab" data-toggle="tab" role="tab" aria-controls="menu03" aria-expanded="true" href="#menu03">メニュー3</a>
 </li>
 
//ドロップダウンボタン部分
 <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">ドロップダウン</a>
 
//ドロップダウン中身
 <div class="dropdown-menu">
 <a class="dropdown-item" id="dropdown1-tab" href="#dropdown1" role="tab" data-toggle="tab" aria-controls="dropdown1">ドロップダウン1</a>
 <a class="dropdown-item" id="dropdown2-tab" href="#dropdown2" role="tab" data-toggle="tab" aria-controls="dropdown2">ドロップダウン2</a>
 </div>
 </li>
 
 </ul> 
 
//タブパネル中身
 <div class="tab-content" id="myTabContent">
 <div class="tab-pane fade show active" id="menu01" role="tabpanel" aria-labelledby="menu01-tab">
 つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書
 </div>
 <div class="tab-pane fade" id="menu02" role="tabpanel" aria-labelledby="menu02-tab">
 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
 </div>
 <div class="tab-pane fade" id="menu03" role="tabpanel" aria-labelledby="menu03-tab">
 つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書
 </div>
 
 <div class="tab-pane fade" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab">
 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
 </div>
 <div class="tab-pane fade" id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab">
 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
 </div>
 </div>