<%= form_with model: @liquid, url: {controller: 'liquids', action: 'update'}, local:true, method: :post do |f| %>
  <%= render "/layouts/refactoring/new_and_edit_table/liquid", f: f%>
<% end %>
<div class="float-end">
  <%= button_to "削除", "/okonomiyakidb/liquids/#{@liquid.id}", data: { confirm: "削除してもよろしいですか?" }, method: :delete, class:"btn btn-danger mt-1" %>
</div>
