<%= form_with model: @cut, url: {controller: 'cuts', action: 'update'}, local:true, method: :post do |f| %>
  <%= render "/layouts/refactoring/new_and_edit_table/cut", f: f%>
<% end %>
<div class="float-end">
  <%= button_to "削除", "/okonomiyakidb/cuts/#{@cut.id}", data: { confirm: "削除してもよろしいですか?" }, method: :delete, class:"btn btn-danger mt-1" %>
</div>
