<div class="show d-flex justify-content-evenly">
  <div class= "show_image col-3">
    <% if @other_material.image.presence %>
      <%= image_tag @other_material.image %>
    <% else %>
      <%= image_tag "27439.png" %>
    <% end %>
  </div>
  
  <div class="user_material_table">
    <table class="table">
      <tbody>
        <%= render "/layouts/common_material_show_tbody", material: @other_material %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to "情報の変更", edit_other_material_path, class:"btn btn-primary text-right float-end my-4" %>
<div class="clear"></div>
