.sidebar_main{
  display:flex;
  height: 100vh;
  .sidebar{
    width: 15%;
  }
  //flex-wrap:wrap;
  .sidebar .navbar {
    display: block;
    .nav_menu{
      margin: 50% 10%;
    }
  }
  main{
    width: 85%;
    float: right;
    .right_main_container{
      margin-top:10%;
    }
  }
}
