@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
$top_bar:#00533f;
$side_bar: black;
$side_hover: #663300;
$side_hover_font: #006600;

html{
  text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
  background-color: #d4d9df;
  a{
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
  }
  li{
    list-style: none;
  }
  body{
    background-color: #e8ece9;
    .clear{
      clear:both;
    }
    h2{
      margin-top:5%;
      margin-bottom:5%;
    }
    h3{
      text-align: left;
      margin-top:2.5%;
      margin-bottom:2.5%;
    }
    td{
      vertical-align:middle;
    }
    .no_data_table{
      display:none;
    }
    .no_permitted_user{
      display:none;
    }
    img {
      width:auto;
      height:auto;
      max-width:70%;
      max-height:70%;
    }
    .icon_image{
      width:60px;
        img{
        width: 40px;
        height:40px;
        border: thin;
        border-radius: 50%;
      }
    }
    .index_image{
      width:10%;
      img{
        width:100%;
      }
    }
    .comment_icon{
      width:5%;
    }
    .show_image img{
      width:100%;
    }
    
    .form_container{
      //margin:0 10%;
      display:flex;
      justify-content: space-around;
    }
    p{
      margin-bottom:0;
      text-align: left;
    }
    .block{
      display:block;
    }
    .submit{
      height: 36px;
      margin-top:20px;
    }
    .product_form_submit{
      margin-top:80px;
    }
  }
}

//top_nav
.top-nav{
  background-color:$top_bar;
  padding-top:0;
  padding-bottom:0;
}
.main_side_bar{
  display:flex;
}

//side_bar
.side_bar{
  width:15%;
  background-color: $side_bar;
  ul.ddmenu {
    height: 100vh;
    padding:0;
    text-align: center;
    margin-top:100px; //_alert.scssと干渉して子要素が出てこないから
    li {
      position: relative;
      padding-top:15%;
      display: block; 
      z-index:0;
      a {
        background-color: $side_bar;
        color: white;
        line-height: 40px;
        font-weight: bold;
        display: block;
      }
      a:hover {
        color: $side_hover_font;
        display: block;   
      }
    }
    li:hover > ul {
      display: block;
    }
  }
  //2階層目
  ul.ddmenu ul {
    margin-left: 5%;
    padding: 0px;
    display: none;
    position: absolute;
    z-index:1;
    left:95%;
    top:36%;
    li {
      width: 100px;
      border-top: 1px solid $top_bar;
      padding-top:0;
      a {
        line-height: 40px;
        text-align: center;
        font-weight: normal;
      }
      a:hover {
        background-color: #00a968;
        color: #005500;
      }
    }
  }
  //3階層目
  ul.ddmenu ul ul {
    display: none;       
    position: absolute; 
    z-index:2;
    top: -1%; 
    left: 95%;
    border-left: 1px solid pink;
  }
}


main{
  width: 85%;
  float: right;
  //application.html.erb適用時
  .right_main_container{
    margin-top:1%;
  }
  //no_bar.html.erb適用時
  .login_message{
    margin-top:7%;
  }
  .no_bar_main_container{
    text-align: center;
    margin-top: 15%;
  }
}

//登録form
.form{
  p{
    display:inline-block;
  }
}

//comment_list
.comment_list{
  margin-bottom:5%;
  margin-bottom: 5%;
  background-color: #FFF;
  border: solid;
  border-radius: 5px;
  border-width: thin;
  border-color: #afafb0;
  text-align: left;
  padding: 10px;
}
//通知
.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}