<h2 class="mb-4">調味料登録</h2>
<div class="form">
  <table class="table">
    <%= form_with model: @seasoning, url: {controller: 'seasonings', action: 'create'},local:true, id: "seasoning", method: :post do |f| %>
      <tbody>
        <%= render "/layouts/common_material_form", f: f %>
    <% end %>
  </table>
  <div class="text-right float-end">
    <button class="btn btn-primary" type="submit" form="seasoning">登録</button>
  </div>
</div>

